
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <style>
        .error-message {
            color: #F0F0F0;
            font-size: 170px;
            line-height: 1;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="width:500px; margin: 0px auto;">
        <h2>Trang này không tồn tại</h2>
        <div class="error-message">404</div>
    </div>
</body>
</html>
