
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Welcome!</h3>
        </div>
        <div class="box-body">
            Chào mừng bạn đến với trang quản lý. Chúc bạn có ngày làm việc hiệu quả!
        </div>

    </div>
    <!-- /.box -->

</section>
